[2016-06-21 18:42] LeonardoCardoso opened #1 "Create tests"
- [x] Head
   	- Twitter
	- Facebook
   	- Meta
- Body
  - Images
     	- [x] Single
     	- [x] Gallery
  - Text (Relevant Texts)
  		- [x] Title
  		- [x] Description

[2016-06-21 19:36] LeonardoCardoso opened #2 "Small images, possibly irrelevant."
Ideas:
- Set a minimum dimension for images.
- Find a way to detect dimensions before downloading the image.

[2016-06-23 18:58] LeonardoCardoso opened #3 "Dependency Managers"
- [x] CocoaPods
- [x] Carthage
- [x] Swift Package Manager

[2016-06-23 19:09] LeonardoCardoso opened #4 "Swift 3.0"

[2016-06-24 09:40] LeonardoCardoso opened #5 "CI"

[2016-06-24 13:23] LeonardoCardoso opened #6 "Remove Alamofire"
Use native ```NSURLSession.sharedSession().dataTaskWithURL```.

[2016-06-24 13:27] #6 closed

[2016-06-25 03:01] LeonardoCardoso opened #7 "Carthage"

[2016-06-25 03:03] LeonardoCardoso opened #8 "Swift Package Manager"

[2016-06-25 03:05] #7 closed

[2016-07-04 19:32] LeonardoCardoso opened #9 "Support other platforms"
- [x] macOS
- [x] watchOS
- [x] tvOS

[2016-07-05 01:22] LeonardoCardoso commented on #8
Closed by 7c7316419a62b20d3110a216ff4c0c88a0f02077

[2016-07-05 01:22] #8 closed

[2016-07-05 01:23] LeonardoCardoso commented on #3
Closed by 7c7316419a62b20d3110a216ff4c0c88a0f02077

[2016-07-05 01:23] #3 closed

[2016-07-05 01:23] LeonardoCardoso commented on #9
Closed by cdcb4684112fa0e65c4e706a066778207c0ce104

[2016-07-05 01:23] #9 closed

[2016-07-05 01:26] LeonardoCardoso commented on #7
Closed by 3d320edcf0de9bd5675d097643c52e9bd5f4872f

[2016-07-05 01:27] LeonardoCardoso commented on #6
Closed by b3059dc

[2016-07-12 11:51] LeonardoCardoso commented on #5
Closed by 48c5d7203854763ebe86a2ea2dc375928db940f5

[2016-07-12 11:51] #5 closed

[2016-07-12 11:51] LeonardoCardoso commented on #1
Closed by cbb158b44ef1450b94f50ca4b476ac184733aa05

[2016-07-12 11:51] #1 closed

[2016-07-13 02:02] fraserscottmorrison opened #11 "Crash when parsing certain page"
Hiya,

Ive encountered a crash which occurs when parsing this link http://go.acgedu.com/acg-parnellcollege/

Ive resolved it by putting a check that it can substring but this probably isn't addressing the root of the issue (maybe caused by the pages title being a url?)

[code]

[2016-07-13 02:44] LeonardoCardoso commented on #11
Hi, @fraserscottmorrison! Thanks. Can you do a PR?!

[2016-07-13 11:14] #11 closed

[2016-07-13 12:25] LeonardoCardoso opened #13 "Improve way to get info"
Improve crawling when a website has no title.

[2016-07-13 14:14] LeonardoCardoso commented on #13
Closed by 7e41ae6

[2016-07-13 14:14] #13 closed

[2016-07-14 23:58] gadu opened #15 "A few questions + Example issues"
Hello,
Currently your example project seems to rely on 3 pods, but I was only able to find that out by looking at the readme file on that directory. It would be a lot easier if you provided a pod file, did basic integration with cocoa pods and then provided an .xcworkspace that people could use to run the sample project out the box.

Also, i noticed you pushed a release removing the dependency on

[2016-07-15 01:23] LeonardoCardoso commented on #15
@gadu Hi. First of all thanks. I assumed that it would be safe only after I wrote down the tests. And it's been done recently. You can consider the current version as stable then.

Regarding the Example, I provided it without a specific dependency manager on purpose because SLP does not rely only on CocoaPods and the users can simply add those libraries as they want, that's why the README.md.

The

[2016-07-15 01:30] gadu commented on #15
Great. That makes sense, not entirely sure what Alamofire does so would she
helped to look into it before, just didn't want an unneeded dependency.

So just to confirm then, you're not in the process of working on something
that will improve this solution then or about to push something worth
waiting for?

And yes this is a great project, started to do something similar but really
glad I found thi

[2016-07-15 01:46] LeonardoCardoso commented on #15
`Alamofire` was helping to get the real URL of an shorten URL, but it was dispensable because `NSURLSession` allows us to do the same.

The current code is stable and you can use on your project.

Thanks. You can close the issue if you don't have any questions else.

[2016-07-15 01:47] gadu commented on #15
Yep, thanks for speedy response and great project

[2016-07-15 01:47] #15 closed

[2016-07-15 07:07] kharmabum opened #16 "Carthage build fails"
[code]

[2016-07-15 12:58] LeonardoCardoso commented on #16
@kharmabum Thanks. I fixed @ 2ab6b46. I just needed to remove Package.swift file from .xcodeproj.

[2016-07-15 12:58] #16 closed

[2016-07-16 06:50] gadu opened #17 "Regex mismatches (or allowing for more types of urls)"
Is this library only supposed support certain type of url formats?

When I tested it with www.google.com (or any other url without the http://) I got "No URL has been found"

Similarly, when I tried to use http://www.google.com I got "An error occurred when parsing the HTML"

It worked fine with the examples you used but I think requiring the http:// is a bit strict in that if a we are analyzing u

[2016-07-16 15:46] LeonardoCardoso commented on #17
The intention of the project is to detect explicit URL. The Regex also detect `https` which are two of the, let's say, protocols that everyone uses for websites. I see your point though. I'm gonna improve URL detection and create tests for URL parsing. Wait a few days.

[2016-07-16 15:52] LeonardoCardoso commented on #17
Apparently this Regex is what you're looking for. https://regex101.com/r/lY8vA0/1

[2016-07-17 03:18] LeonardoCardoso commented on #17
@gadu Thanks again. Regex parsing was improved and I've added tests for all platforms.
Regards.

Closed by 0c5cbda.

[2016-07-17 03:18] #17 closed

[2016-07-18 21:08] gadu opened #19 "infinite loop on www.youtube.com + issue with links that don't have http:// or https://"
I was testing a couple URL's with the new updates you made and noticed that when SwiftLinkPreview parses www.youtube.com, the app freezes. Debugging reveals there seems to be some sort of infinite loop.

Also interestingly, when I tested with www.google.com i never get an image returned, same when I do google.com, but if I instead do even http://google.com (no www necessary) then an image is retur

[2016-07-19 00:31] gadu opened #21 "Caching Results (Feature)"
Said it before, but again, great project.

Wanted to suggest a caching feature for web results. It seems like using this in some sort of feed or table view might be a common use case, so currently whenever that happens and cells are reused there are more network calls and work done in parsing the same exact content over and over.

It would be really cool and useful if it could cache results (maybe

[2016-07-19 01:53] LeonardoCardoso commented on #19
I'll take a look at it tomorrow (Tuesday), @gadu. Thanks again.

[2016-07-19 17:16] LeonardoCardoso commented on #19
I fixed the app freezing thing. For bigger HTMLs (like www.youtube.com), it took a while for SLP to parse the code by regexes. Then I'm removing unnecessary data from the code such as `style`, `link`, `comments` and `script` for faster analysis. Additionally I've put it inside a `dispatch_async`.

Regarding www.google.com vs http://google.com issue, some websites do their specific redirections. Th

[2016-07-19 17:16] #19 closed

[2016-07-25 16:52] Droppix opened #24 "Suggestion"
Hi,

Little suggestion : Integration of "favicon.ico"

Regards

[2016-08-01 08:11] kuyazee opened #25 "Cocoapods not working"
did you delete your repo? T_T even your .xcodeproj has nothing inside it.

[2016-08-01 11:45] LeonardoCardoso commented on #25
Try it now. I had forgotten to trunk the pod.

https://cocoapods.org/pods/SwiftLinkPreview

[2016-08-01 11:45] #25 closed

[2016-08-10 08:33] kuyazee commented on #25
a very late reply from me. but thanks :D

[2016-08-10 08:51] kuyazee opened #26 "Cocoapods still not working"
it's me again haha.

Resolving dependencies of `Podfile`
[!] Unable to find a specification for `SwiftLinkPreview`

[2016-08-10 12:42] LeonardoCardoso commented on #26
Are you using your connection behind some proxy or making some typo? CocoaPods is case sensitive.

If you are using as a dependency for your own pod, notice that you have to specify the tag.
Instead of:

[code]

Write this:

[code]

It's alive and working.

https://cocoapods.org/pods/SwiftLinkPreview

[2016-08-10 18:13] LeonardoCardoso commented on #26
Another solution is to deintegrate the Pods.

[code]

[code]

[code]

[2016-08-10 18:13] #26 closed

[2016-08-11 02:00] kuyazee commented on #26
I have no idea why it doesn't work for me.. I'm using other libraries in my cocoapods as well.

anyway I just this library in manually haha. thanks anyway

[2016-08-18 07:35] kuyazee commented on #26
I figured out why it didn't work. my pod repo was outdated. sorry to have bugged you. btw thanks for the library again it's a great help

[2016-08-18 11:10] LeonardoCardoso commented on #26
@kuyazee That's why I told you to update and deintegrate your pod. Regards.

[2016-09-12 10:01] RakeshImpinge opened #29 "Use this in Objective c Project"
How to use this library in Objective c project?

[2016-09-12 11:53] LeonardoCardoso commented on #29
Hi, @RakeshImpinge.

You can follow the official documentation https://developer.apple.com/library/ios/documentation/Swift/Conceptual/BuildingCocoaApps/MixandMatch.html

[2016-09-12 11:53] #29 closed

[2016-09-14 17:12] #4 closed

[2016-09-17 10:28] RobertNNms commented on #29
Hi,

Implementation with Objective-C, don't work! (XCode 8)
For this to work, SwiftLinkPreview must inherit the NSObject class.

[2016-09-17 15:01] LeonardoCardoso commented on #29
Hey, @RobertNNms and @RakeshImpinge.

I've created a new version with this compatibility. https://github.com/LeonardoCardoso/SwiftLinkPreview/releases/tag/1.0.1

[2016-10-13 08:10] kuyazee opened #32 "some bit.ly Links causes the app to lag (until the url gets loaded)"
I think this is some kind of small problem for the dispatch or thread,  but I'm still not really adept at that part of coding so I don't know.

http://bit.ly/2dIBlR6 here's the link btw

But once again. This project is so kickass awesome. Thanks :)

[2016-10-13 19:35] LeonardoCardoso commented on #32
Do you have more examples?

[2016-10-14 05:35] kuyazee commented on #32
I'll try looking for more links like these. (I think it's because the link redirects to a PDF)

http://bit.ly/2dKjZUz

[2016-10-14 22:13] LeonardoCardoso commented on #32
To capture the real URL request is synchronous because we need to follow the redirections of a short url, but the rest is not.

[2016-10-17 02:33] kuyazee commented on #32
really? cause even when I'm just trying to load links like www.github.com (I type in a textfield a link and I detect if the link is of the legit format then every tap I load it by adding a target to my textfield .EditingChanged)

so everytime I tap it tries to load (so it lags/delays a little bit) so I changed loading of url's to textField didEndEditing

[2016-11-23 19:17] gabrielapittari opened #33 "The file “Dev” couldn’t be opened because you don’t have permission to view it."
XCode version 7.2.1 and Mac 10.11.6
Development target: iOS 8.4
Swift 2.1

Error:
It was building but when installing the app on the device I was getting:

I solved the issue by doing the following:

- Downloaded: https://github.com/LeonardoCardoso/SwiftLinkPreview/releases/tag/0.1.6

- Added the unzipped folder to my Libraries in my project.

- From the SwiftLinkPreview folder removed the all the

[2016-11-23 19:25] LeonardoCardoso commented on #33
Thanks, @gabrielapittari!

[2016-11-23 19:25] #33 closed

[2016-11-30 00:43] davidseek opened #34 "Broken stuff?"
I'm lately trying to stay away from Pods. That's why I've wanted to download your project manually. `You just need to drop SwiftLinkPreview folder into Xcode project (make sure to enable "Copy items if needed" and "Create groups").` There is no folder `SwiftLinkPreview`.

Also the Example Project is kinda empty. No `SwiftLinkPreview` files and doesn't build at all. I thought about missing `pod ins

[2016-11-30 02:40] LeonardoCardoso commented on #34
Hi @davidseek!

You are right about the ` SwiftLinkPreview folder`. Thanks for letting me know. This part was written before I port SLP to SPM. I'll fix that.

And have you read the [Example's README.md](https://github.com/LeonardoCardoso/SwiftLinkPreview/blob/master/Example/README.md)? Since my project doesn't support only CocoaPods, but Carthage too, for instance, I preferred to leave the decisi

[2016-11-30 02:40] #34 closed

[2016-11-30 02:42] LeonardoCardoso commented on #33
The problem was detected by issue #34 and fixed by e7ec20b3ec6fb68cfa2118693621e3b3564b6db8.

[2017-01-04 11:22] keshiim opened #35 "Where Example Podfile？"

[2017-01-04 13:03] LeonardoCardoso commented on #35
Please check #34 and [this](https://github.com/LeonardoCardoso/SwiftLinkPreview/blob/master/Example/README.md).

[2017-01-04 13:03] #35 closed

[2017-01-19 16:11] LeonardoCardoso commented on #21
Supported added in version [2.0.0](https://github.com/LeonardoCardoso/SwiftLinkPreview/releases/tag/2.0.0). Thanks to [@ypopovych](https://github.com/ypopovych).

[2017-01-19 16:11] #21 closed

[2017-01-24 09:33] hauptanja opened #37 "Init for version 2.0.0"
I have gotten the version 2.0.0 from carthage and now the line
`let slp = SwiftLinkPreview()`
crashes.

[2017-01-24 13:35] LeonardoCardoso commented on #37
Sorry. I'm gonna update that.

[2017-01-26 21:29] LeonardoCardoso commented on #37
Closed due to inactivity.

[2017-01-26 21:29] #37 closed

[2017-02-22 07:32] kuyazee opened #38 "iOS 8 compatibility"
By any chance could you lower the compatibility of the Swift 3 version to iOS 8?

[2017-02-22 10:19] LeonardoCardoso commented on #38
My main focus for this project is iOS 9+, although it supported iOS 8 before Swift 3. Can you fork this project, low the minimum version, do some tests and CI tests (take a look at .travis.yml and tests.sh) for iOS 8, then create a PR?

[2017-02-22 10:20] LeonardoCardoso commented on #32
Can you try with the new version?

[2017-02-23 02:06] kuyazee commented on #38
Okay will do I'll update you

[2017-02-23 04:10] andrewbellay opened #39 "CRASH when no URLs present."
First off, thanks for a nice open-source repo.

*The Issue*
Line 122 in SwiftLinkPreview.swift results in a crash if the text in question contains no URLs. In line, 121 the 'pieces' array ends up being empty if there's no URL and then the first element is grabbed in the following line, resulting in a 'fatal error: Index out of range' exception and crash.

Unfortunately, I'm short on time or I woul

[2017-02-23 10:14] LeonardoCardoso commented on #39
Hi. Thanks. I'll do it when I have time. Feel free to send PR though.

[2017-02-24 17:14] #39 closed

[2017-02-24 17:18] LeonardoCardoso commented on #38
Done.

[2017-02-24 17:18] #38 closed

[2017-03-10 18:51] giffnyc opened #41 "2.0.2 adds ambiguous method error in Swift builds"
My bad - the preview method wrapper I added for Objective-C compatibility conflicts with the Swift version, in Swift builds (not in Objective-C builds), causing the compiler to generate an error about ambiguous methods.

Solution is to provide an alternate name for the method.  Will post pull request.

[2017-03-13 11:34] LeonardoCardoso commented on #41
Thanks, @giffnyc.

[2017-03-13 11:34] #41 closed

[2017-03-21 13:52] chashmeetsingh opened #43 "Ambiguous error"
Tried running the example project and the following comes up. @LeonardoCardoso
<img width="217" alt="screen shot 2017-03-21 at 7 21 42 pm" src="https://cloud.githubusercontent.com/assets/8962264/24150423/b68aed3c-0e6b-11e7-9c67-bc8cff5c751c.png">

[2017-03-21 16:44] LeonardoCardoso commented on #43
Hi @chashmeetsingh. Have you installed the dependencies described [here](https://github.com/LeonardoCardoso/SwiftLinkPreview/tree/master/Example)?

[2017-03-21 16:45] chashmeetsingh commented on #43
Yes, i did

[2017-03-21 16:48] LeonardoCardoso commented on #43
This is weird. I just downloaded here and it worked perfectly.

[2017-03-21 16:51] chashmeetsingh commented on #43
<img width="261" alt="screen shot 2017-03-21 at 10 20 29 pm" src="https://cloud.githubusercontent.com/assets/8962264/24159243/a6737932-0e84-11e7-8f15-59878eafb7be.png">
<img width="1512" alt="screen shot 2017-03-21 at 10 20 39 pm" src="https://cloud.githubusercontent.com/assets/8962264/24159245/a6a65ca8-0e84-11e7-8873-bf648e45c384.png">

[2017-03-21 16:56] LeonardoCardoso commented on #43
Try to clean derived data.

[2017-03-21 16:59] chashmeetsingh commented on #43
Nope, doesn't still seem to work :(

[2017-03-21 17:07] LeonardoCardoso commented on #43
Sorry, but I don't really know what's causing it. Here it works!![screen shot 2017-03-21 at 18 06 21](https://cloud.githubusercontent.com/assets/1775157/24160049/2c7211a2-0e61-11e7-8b6c-66a60680cd4b.png)

[2017-03-21 17:08] chashmeetsingh commented on #43
No problem, will figure some workaround 👍

[2017-03-21 17:08] #43 closed

[2017-03-21 17:15] taykay08 opened #44 "Hangs when crawling for description"
The URL I'm crawling is: https://www.flickr.com/explore/

I stepped through the source and see that it's hanging in crawlDescription() at the crawlCode() call.

I see this in the debugger console: SendDelegateMessage(NSInvocation *): delegate (<CFNotificationCenter 0x6080000aed60 [0x108679df0]>) failed to return after waiting 10 seconds. main run loop mode: kCFRunLoopDefaultMode

[2017-03-21 17:26] LeonardoCardoso commented on #44
Hey @taykay08. Thanks. I'll have a look.

[2017-03-21 17:31] LeonardoCardoso commented on #44
This is weird, here it works.

[2017-03-21 17:33] taykay08 commented on #44
Ok, thanks for checking. Maybe it's on my end - I'll try to isolate it in a new project.

[2017-03-21 17:34] LeonardoCardoso commented on #44
Ok. Please let me know.

[2017-03-21 18:40] taykay08 commented on #44
Yikes, thought I had grabbed the latest code, I guess I didn't. Anyway, it seems to be working the same as yours now. Takes about a minute, but happy to see it hit the completion method now. Sorry about that, and thanks for the quick response!

[2017-03-21 18:40] #44 closed

[2017-04-11 07:20] dylanNew opened #45 "Can't get really image url for some case. (Watch base URL)"
[code]

In this case SwiftLinkPreview get image link is **assets/test.png**

but the image real url is **https://host/resource/index/assets/test.png**

How can I get it real url?

[2017-04-11 09:14] LeonardoCardoso commented on #45
This is an optimization which the code doesn't understand yet.

[2017-04-11 09:14] LeonardoCardoso commented on #32
Closed due inactivity.

[2017-04-11 09:14] #32 closed

[2017-04-11 09:15] LeonardoCardoso opened #46 "Custom metatags"
Allow to get specific meta tags.

[2017-04-12 19:42] marchy opened #47 "Make URL detection work for text containing new-lines"
Very simple fix here, too short for doing pull-request:

Simply change line 207 in SwiftLinkPreview::extractURL(text)
from:
```let pieces: [String] = text.components(separatedBy: " ").filter { $0.trim.isValidURL() }```
to:
```let pieces: [String] = text.components(separatedBy: .whitespacesAndNewlines).filter { $0.trim.isValidURL() }```

PS: Do you mind also making the extractURL(...) method public

[2017-04-13 08:48] LeonardoCardoso commented on #47
Hey @marchy. Thanks.
Please do the PR! :D

[2017-04-15 12:36] gpip opened #48 "Lower osx.deployment_target to 10.10"
Is there a reason the OSX deployment target in the podspec is set to 10.11? I have an app which for now requires at least 10.10 and I can't install your pod because of that :/  If it doesn't affect your project, could you consider lowering that requirement?

[2017-04-15 16:28] #47 closed

[2017-04-15 16:28] LeonardoCardoso commented on #48
Done!

[2017-04-15 16:28] #48 closed

[2017-05-17 09:28] AmmarMujeeb opened #50 "There is no guide to build Example"
Although its not an issue in the project but just if someone wants to run the Example then they need to initialize pod and following pods are required.

  # Pods for SwiftLinkPreviewExample
    pod 'SwiftLinkPreview', '~> 2.0.4'
    pod 'SwiftyDrop', '~>3.0'
    pod 'ImageSlideshow'
    pod 'Alamofire'
    pod 'AlamofireImage'
end

[2017-05-17 10:11] LeonardoCardoso commented on #50
Hi, have you read [/Example/Readme.md](https://github.com/LeonardoCardoso/SwiftLinkPreview/tree/master/Example/Readme.md)?

[2017-05-17 10:11] #50 closed

[2017-05-17 10:21] AmmarMujeeb commented on #50
No i missed, My bad. But i go through the first README page and in the index also there was nothing regarding this Example instead there were Visual Examples only. Just a suggestion, if you mention it in the index you created that would be much helpful.

[2017-05-17 15:20] LeonardoCardoso commented on #50
Thanks.

If you simply go to [Example](https://github.com/LeonardoCardoso/SwiftLinkPreview/tree/master/Example), the README is displayed. Maybe I'll mention it in the main README next time I change the code.

[2017-05-18 14:33] AashishNagar opened #51 "not working for linkedin"
library not working with url "https://www.linkedin.com". Image not coming.

[2017-05-18 20:36] LeonardoCardoso commented on #51
This is very subjective. Also LinkedIn might have changed the way they allow robot scrapping. I'm gonna take a look that when I have time.

[2017-06-08 19:46] marchy opened #52 "Make extractURL public"
Hi there could you please make the extractURL(...) method public?

This is really useful UX-wise to determine whether a URL _WOULD_ be detected and do some logic against the previously-detected one and thus ONLY invoke a new preview(..) if the URL is different.

This happens when the user types in a text-field and you don't want to fire a new request upon every keystroke. Instead only want to do s

[2017-06-08 20:05] LeonardoCardoso commented on #52
Fair enough. This is a good point. Done.

[2017-06-08 20:16] #52 closed

[2017-06-08 20:17] LeonardoCardoso commented on #52
Fair enough. This is a good point. I've add it on version [2.0.5](https://github.com/LeonardoCardoso/SwiftLinkPreview/releases/tag/2.0.5).

[2017-06-08 21:01] marchy commented on #52
Awesome, thanks Leonardo!
Now THAT'S turnaround  =)

[2017-06-10 08:52] haansplosion opened #53 "fatal error: unexpectedly found nil while unwrapping an Optional value (lldb)"
Hi there, after updating to the latest version of Hero I am getting the error

[code]

On line 24 of **Lexer.swift:**
[code]
<img width="1443" alt="screen shot 2017-06-10 at 6 51 25 pm" src="https://user-images.githubusercontent.com/6058393/27001455-d260c608-4e0d-11e7-8d3b-ba0423b885ed.png">

**_Xcode - Version 8.3.3 (8E3004b)
Swift 3_**

[2017-06-10 09:32] LeonardoCardoso commented on #53
Seems it's not related to my library.

[2017-06-10 09:32] #53 closed

[2017-06-10 09:44] haansplosion commented on #53
Sorry, I thought Lexer was a dependancy of your library working?

https://github.com/lkzhao/Hero/blob/master/Sources/Parser/Lexer.swift

[2017-06-10 09:55] haansplosion commented on #53
Deepest apologies, wrong repo!

[2017-06-12 08:22] haansplosion opened #54 "Suggestion: Get Price meta tags"
Possible duplicate of #46, but it would be fantastic to get back the price schema.org metadata http://schema.org/price

Thanks for building this, very performant and easy to use!

[2017-06-19 06:12] abdulKarim002 opened #55 "Cache response is not called on UITableView"
<li> Xcode 8.2
<li> Swift 3
<li> ios 9x - 10x

Everytime I call swift link preview it always call and set the data, how can I get the cache response, I am loading the preview data on UITableview so what should I do to get response from cache data when cell is recycled
`
slp.preview(

                LinkObj.path,
                onSuccess: { result in
                //print("\(result)")

[2017-06-19 08:59] LeonardoCardoso commented on #55
You can cache the response, @abdulKarim002. Take a look at the following files: [Cache.swift](https://github.com/LeonardoCardoso/SwiftLinkPreview/blob/master/Sources/Cache.swift), [SwiftLinkPreview.swift#L46](https://github.com/LeonardoCardoso/SwiftLinkPreview/blob/master/Sources/SwiftLinkPreview.swift#L46) and [SwiftLinkPreview/pull/36](https://github.com/LeonardoCardoso/SwiftLinkPreview/pull/36)

[2017-06-19 09:23] abdulKarim002 commented on #55
What is the best way to access the cache protocol according to you @LeonardoCardoso  ? as i am using it for uitableview the spl.preview is already a async call so when you get the response from cache..

Thank you the response..

[2017-06-30 02:15] chrisvanbuskirk opened #57 "Twitter return errors"
First nice lib, but a few problems.

Twitter

Error Domain=NSPOSIXErrorDomain Code=100 "Protocol error" UserInfo={NSErrorPeerAddressKey=<CFData 0x618000281270 [0x101e3bbc0]>{length = 16, capacity = 16, bytes = 0x100201bb68f42ac10000000000000000}, _kCFStreamErrorCodeKey=100, _kCFStreamErrorDomainKey=1}

Linkedin fails as well.  I don't know why yet.

[2017-06-30 08:44] LeonardoCardoso commented on #57
Hi, @chrisvanbuskirk. Thank you. As mentioned in #51 They might have changed the way they allow robot scrapping. I'm gonna take a look that when I have enough time.

[2017-07-19 06:39] balkrishanyadav opened #58 "SwitLinkPreview Not Getting Detail URLS.."
Hi, Swift Link preview is not getting image, description, url for no of below URL's ..
1. https://youtu.be/wH6tWW_gWsA
2. http://www.miniclub.rocks/
3. https://www.linkedin.com/
etc.
Please help me for resolve issues for  urls...

Thanks,

[2017-07-19 08:28] SourabhYapApp opened #59 "Wrong description coming"
Used link : http://www.ndtv.com/video/exclusive/news/i-have-evidence-of-special-favours-to-sasikala-whistleblower-cop-roopa-463151

Json:
[SwiftLinkPreview.SwiftLinkResponseKey.canonicalUrl: "m.ndtv.com", SwiftLinkPreview.SwiftLinkResponseKey.description: "Home",  ...

Actual Description is different.
Also facing similar issue in some other links too.

[2017-07-19 10:41] LeonardoCardoso commented on #58
Duplicate #51

[2017-07-19 10:42] LeonardoCardoso commented on #59
Apparently description in 'http://www.ndtv.com' is different the one in from 'm.ndtv.com'.

[2017-07-24 09:50] LeonardoCardoso commented on #24
Closed by #60.

[2017-07-24 09:50] #24 closed

[2017-07-24 09:56] LeonardoCardoso commented on #24
![simulator screen shot 24 jul 2017 at 11 49 08](https://user-images.githubusercontent.com/1775157/28518126-235c06aa-7067-11e7-8709-e3915a9e33e5.png)
![simulator screen shot 24 jul 2017 at 11 48 52](https://user-images.githubusercontent.com/1775157/28518124-235a57f6-7067-11e7-93e9-f0d682a942f5.png)
![simulator screen shot 24 jul 2017 at 11 48 34](https://user-images.githubusercontent.com/1775157/2

[2017-08-22 12:45] SourabhYapApp opened #61 "Unable to parse"
"https://goo.gl/maps/8cu9dtwedbn" is a shared link from google maps. In most of the cases we getting "This URL cannot be opened" and localised description as "The operation couldn’t be completed. (SwiftLinkPreview.PreviewError error 2.)". And if it successful then also we are unable to get image.

[2017-08-23 05:53] SourabhYapApp commented on #61
For apple map link as:
https://maps.apple.com/?ll=30.676222,76.740431&q=Sourabh%20Sharotria%E2%80%99s%20Location&t=m

Iam getting response

SwiftLinkPreview.SwiftLinkResponseKey.canonicalUrl: "**www.google.com**", SwiftLinkPreview.SwiftLinkResponseKey.title: "**Google Maps**"

[2017-09-15 08:00] Urvish-modi opened #62 "Cancel not available swift 3.1"
Try to accessing linkpreviewobject.cancel not available

[2017-09-15 23:56] LeonardoCardoso commented on #62
Hi, you do not call `linkpreviewobject.cancel`. It was misdocumented.
You can call cancel like this instead:

[code]

[2017-09-15 23:56] #62 closed

[2017-09-18 18:49] pkc456 commented on #55
+1

[2017-09-19 17:38] goktugaral commented on #55
+1

[2017-09-19 23:15] #55 closed

[2017-09-19 23:15] LeonardoCardoso commented on #55
Guys,

The default cache is disabled.
SLP has a built-in memory cache, so create your object as the following:

[code]

To get the cached response:

[code]

If you want to create your own cache, just implement this protocol and use it on the object initializer.

[code]

I've updated the documentation.
Let me know how it goes.

[2017-09-24 08:31] goktugaral commented on #55
Hi @LeonardoCardoso ;

I used your example, first I didn't see the result but after I changed my way it worked. The reason why it didn't work is, I'm using your component for my UITableViewCell with dequeueReusableCell. So, every time when l scrolled my tableview; cells are reloading (init/deinit) along with my previewView. That is why it didn't store cache.
Thank you for your time, it works great

[2017-10-01 14:32] inPhilly commented on #45
Is this fixed? This seems like a big deal

[2017-10-01 14:33] inPhilly opened #63 "Objective-C"
You don't happen to have an objective-c version of this, do you? It looks awesome.

[2017-10-01 14:39] inPhilly commented on #63
Or a way to use it in an objective-c project?

[2017-10-01 17:15] inPhilly commented on #63
I just installed with Carthage it it works fine. Thanks.

[2017-10-01 17:15] #63 closed

[2017-10-01 17:17] inPhilly opened #64 "Is there a way to tell if the site contains porn/gambling material?"
I don't want to show a preview for any site that is pornographic or gambling related (or anything else that would be inappropriate). Is there a way to check for those categories using this repository?

[2017-10-01 19:02] LeonardoCardoso commented on #64
Not yet.

[2017-10-01 19:03] LeonardoCardoso commented on #45
Not yet.

[2017-10-01 19:45] inPhilly commented on #64
Okay. I will let you know if I find anything about that. By the way, should this be run on a background thread?

[2017-10-02 02:19] inPhilly opened #65 "Not Safe in Application Extensions?"
I am trying to build my App Extension with SwiftLinkPreview and I am  getting this error:
warning: linking against a dylib which is not safe for use in application extensions: .../Carthage/Build/iOS/SwiftLinkPreview.framework/SwiftLinkPreview

Is it true that this library is not save in app extensions? if so, is there anything I can do to make it safe? Thanks.

[2017-10-02 16:30] LeonardoCardoso commented on #64
What should be?! SLP or filtering?

[2017-10-17 23:18] schayes04 opened #66 "Update for Xcode 9/Swift 4.0"

[2017-11-09 12:38] #66 closed

[2017-11-12 16:43] saj4high2n opened #68 "Crashes when "Open in Safari" is pressed"
`Thread 1: signal SIGABRT`

`-[SwiftLinkPreviewExample.ViewController openWithAction:]: unrecognized selector sent to instance 0x7f8ae1605790`

Environments:
- Swift 4 / Xcode 9.1 / iOS 11

[2017-11-13 09:21] #68 closed

[2017-11-22 11:12] BorjaCloobing opened #70 "finished with error - code: -1001"
Some urls are giving me be back this error "finished with error - code: -1001"
I have searched that incoming url, is well built. Any idea?

[2017-11-22 11:34] LeonardoCardoso commented on #70
Which ones?

[2017-12-12 14:35] oskarmt opened #71 "No response and error"
Hello! Can you help me?
I'm trying to check if this URL(http://eventakzent.de/wp-content/uploads/Vid-Silvester/silvester17-black&gold-promo-FINAL.mp4) contains any titles, images or etc.. and  have no response on this request. If there are a lot of such links on the screen, cpu = 100%. How do you handle such links with files?

[2017-12-12 17:25] LeonardoCardoso commented on #71
It's not supported, unless it's an image. Otherwise it will return nothing.

[2017-12-12 17:25] #71 closed

[2018-01-03 22:18] tamoyal opened #72 "off by one error"
I think:

[code]

should be `>=`

just eyeballed it

[2018-01-04 10:22] LeonardoCardoso commented on #72
Hey, did it crash? What website were you trying to preview?

[2018-01-04 15:46] tamoyal commented on #72
No I think the end result is extracting a link from text which is JUST a link won't work because it's off by 1. If you don't see what I see I can test again today

[2018-01-05 09:22] LeonardoCardoso commented on #72
Please try it and let me know.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-06 02:23] tamoyal opened #73 "SwiftLinkPreview.SwiftLinkResponseKey.image can be an array"
Getting preview of this url `http://cdn.leoh.io/images/base_zero/image_218.jpg` returns the image key as an array:

[code]

[2018-01-06 02:43] LeonardoCardoso commented on #73
Good catch! I’ll fix it tomorrow.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-06 03:17] #73 closed

[2018-01-06 03:38] tamoyal commented on #72
Maybe I'm not totally understanding your code. I see you don't use `Regex.rawUrlPattern` to extract urls (you use `NSDataDetector`), just to test if a string is a url. Anyway, this is what fails (and you tell me if you think it should pass):
[code]

[2018-01-06 03:49] LeonardoCardoso commented on #70
Closed by the lack of response

[2018-01-06 03:53] LeonardoCardoso commented on #61
Links like that have many redirections and sometimes they block scraping.

[2018-01-06 05:57] LeonardoCardoso commented on #72
This code you are seeing is outdated. And regarding your first question, no changes were detected after applying `>=`.

[2018-01-06 05:57] #72 closed

[2018-01-06 06:14] LeonardoCardoso commented on #65
@inPhilly

Check out this thread https://stackoverflow.com/q/28652102/1255990.

[2018-01-06 06:15] LeonardoCardoso commented on #58
I've changed a few things and managed to get the preview of the cited websites. Please use the newest release.

![simulator screen shot - iphone 8 plus - 2018-01-06 at 04 57 31](https://user-images.githubusercontent.com/1775157/34636940-09f070a8-f2ac-11e7-887b-d4a0bad0f5ee.png)
![simulator screen shot - iphone 8 plus - 2018-01-06 at 04 57 56](https://user-images.githubusercontent.com/1775157/34636

[2018-01-06 06:15] #58 closed

[2018-01-06 06:15] LeonardoCardoso commented on #57
I've changed a few things and managed to get the preview of Twitter. Please use the newest release.

![simulator screen shot - iphone 8 plus - 2018-01-06 at 06 39 52](https://user-images.githubusercontent.com/1775157/34636968-750c01a4-f2ac-11e7-9825-7e70458f048d.png)
![simulator screen shot - iphone 8 plus - 2018-01-06 at 06 39 40](https://user-images.githubusercontent.com/1775157/34636969-7524153

[2018-01-06 06:15] #57 closed

[2018-01-06 06:15] LeonardoCardoso commented on #51
I've changed a few things and managed to get the preview of LinkedIn. But in fact, those images are loaded via javascript. There's nothing much I can do about it.

![simulator screen shot - iphone 8 plus - 2018-01-06 at 06 36 26](https://user-images.githubusercontent.com/1775157/34636943-0a48c9d8-f2ac-11e7-9aad-ae9b41c93b52.png)

[2018-01-06 06:15] #51 closed

[2018-01-06 06:15] LeonardoCardoso commented on #59
I've changed few things and managed to get the preview of the cited website. Please use the newest release.

![simulator screen shot - iphone 8 plus - 2018-01-06 at 06 47 32](https://user-images.githubusercontent.com/1775157/34637021-7f8b7118-f2ad-11e7-8789-40acc095f71f.png)

[2018-01-06 06:15] #59 closed

[2018-01-06 06:20] #61 closed

[2018-01-08 17:04] balkrishanyadav commented on #58
Thanx

[2018-01-09 02:31] tamoyal opened #74 "Invalid url returned for image url"
For this site: http://www.dailymail.co.uk/news/article-4920958/Company-creates-45-000-flat-pack-surf-shacks.html?ITO=1490&ns_mchannel=rss&ns_campaign=1490

We get for the image url this:
[code]

Which crashes `Url(string: imageURL)!` so the url extractor you are using doesn't play nicely with the parser

[2018-01-09 10:21] #74 closed

[2018-01-09 10:22] LeonardoCardoso commented on #74
- I would consider never force wrap my code
- I didn't have any issues parsing the url you mentioned. I've done some improvements though. Try it with the version on master.

[2018-01-11 13:20] kirualex commented on #70
I get `finished with error - code: -1002` for this URL : https://www.theguardian.com/world/2018/jan/10/two-suns-no-its-a-supernova-drawn-6000-years-ago-say-indian-scientists

[2018-01-11 13:38] LeonardoCardoso commented on #70
@kirualex Which version?

[2018-01-12 00:13] kirualex commented on #70
2.2.0 on iOS11

[2018-01-12 08:27] LeonardoCardoso commented on #70
Please test the version on maste.

[2018-02-09 06:47] mihirpmehta opened #76 "Fail to redirect in some cases."
If you compare the result with facebook or even some other Library like Kanna .... in some sites the image is different as it grabs the image before redirection

for Example http://www.timesofindia.indiatimes.com never displays TOI image in SwiftLinkPreview ... where as other library as well as Kanna displays TOI image as the main background (Red color background with white colored TOI written )

[2018-02-09 15:18] LeonardoCardoso commented on #76
It's unfair to compare my lib to Facebook's. I've never heard about Kanna. I don't know how they parse it. And TimesOfIndia shows a annoying ad before allowing you to go to the proper site.

[2018-02-09 15:18] #76 closed

[2018-02-27 20:43] brianturney opened #77 "Swift 4 Support Planned?"
Will this eventually support Swift 4?  Tried this in Xcode 9 Swift 4 and just errors everywhere.  Doesn't work.

[2018-02-27 21:00] eliburke commented on #77
Works fine for me via Carthage (and presumably CocoaPods and SPM). Are you manually including the  sources in your project?

[2018-02-27 22:56] brianturney commented on #77
I opened the project direct from the Github download and did the pod install.  Had tons of errors.  Not sure whats up. Doesnt work.

[2018-02-28 02:47] brianturney commented on #77
I got it working but it ultimately doesnt do what I thought it did.  links open in safari instead of a webview inside the app.  Videos won't play, you just get an image of the video.  This is nothing like FB's preview.   It's nice for static images and content you don't have to interact with.

[2018-02-28 06:32] eliburke commented on #77
It’s called SwiftLinkPreview, not SwiftYourAppWrittenForYou 😜

I think the Readme is pretty clear on what this framework does. Scrape a URL and return the metadata/images. The sample app is just an example of how to use it. Personally, I GET the main image, render the title/description, and add a tap handler that opens in a web view. Works similar to iMessages (minus video, but that’s on me to imp

[2018-02-28 16:23] LeonardoCardoso commented on #77
https://github.com/LeonardoCardoso/SwiftLinkPreview/issues/66

[2018-02-28 16:23] #77 closed

[2018-03-02 04:37] nguyentrai2011 opened #78 "Speed detect link"
Thanks for your lib

But I recognize with the same link, iOS detect slower than Android
This link: http://www.dailymail.co.uk/health/article-5381859/Why-pet-good-health.html
Could you please help me

Thanks,

[2018-03-02 11:19] LeonardoCardoso commented on #78
This can be related to lots of external factors, such as internet connection, parsing speed, etc.

[2018-03-02 11:19] #78 closed

[2018-03-05 04:13] nguyentrai2011 commented on #78
@LeonardoCardoso Thanks for you response
I use the same Network connection, I don't think the original parsing speed is to much difference between iOS and Android.
Do you try by yourselves?

[2018-03-05 10:56] tinaGupta23 opened #79 "Issue in parsing Apple Maps URL"
While parsing url for Apple Maps, the "Title" is returned as "Google Maps".

Below is the parsed string:

[SwiftLinkPreview.SwiftLinkResponseKey.icon: "http://www.google.com/images/branding/product/2x/maps_ios_32dp.png", SwiftLinkPreview.SwiftLinkResponseKey.canonicalUrl: "www.google.com", SwiftLinkPreview.SwiftLinkResponseKey.title: "Google Maps", SwiftLinkPreview.SwiftLinkResponseKey.url: https:

[2018-04-06 04:29] annjawn opened #80 "Update for Swift 4.1 xcode 9.3"
Very small change is needed to make it compatible with Swift 4.1.

changing `flatMap` to `compactMap` in method `open func extractURL`.

[2018-04-07 08:55] LeonardoCardoso commented on #80
Can you open a PR for that, please?

[2018-04-12 08:54] lucabecchetti opened #81 "Prevent noindex, nofollow"
Hi, is there a way to prevent:

<meta property=\"robots\" content=\"noindex,nofollow\">

page?

[2018-04-12 12:37] LeonardoCardoso commented on #81
Not currently.

[2018-05-03 00:20] annjawn opened #82 "Callback is not called when cancelled"
If the `cancel()` the preview, the callback is not called.

[2018-05-03 08:34] LeonardoCardoso commented on #82
@annjawn There is no cancel callback.

[2018-05-03 08:34] #82 closed

[2018-05-11 14:06] onurgenes opened #83 "Can't get image, description or title from link"
Trying to get preview from "www.dji.com/matrice600-pro/info#specs" but it returns 404.

Any idea?

[2018-05-13 21:18] LeonardoCardoso commented on #83
What's the urls you are getting as response?

[2018-05-15 10:51] onurgenes commented on #83
"url": www.dji.com/matrice600-pro/info#specs
"finalUrl": https://www.dji.com/404?url=http%3A%2F%2Fwww.dji.com%2Fmatrice600-pro%2Finfo#specs
"canonicalUrl": http://www.dji.com/matrice600-pro/info#specs

These are returning urls.

[2018-05-19 20:52] onurgenes commented on #83
Waiting eagerly for fix. Thanks.

[2018-05-23 09:12] daicatrungisme1 opened #84 "Get the wrong twitter preview if there is no image"
if twitter no  image title, description is wrong
this is url https://twitter.com/lecaoquochung/status/770500828658593792
![img_0919](https://user-images.githubusercontent.com/32670658/40414986-f5a3b93e-5ea3-11e8-8920-81973bbd62db.PNG)
![img_0920](https://user-images.githubusercontent.com/32670658/40414988-f5de9252-5ea3-11e8-94e9-5162928ecf2d.PNG)

[2018-05-26 21:43] LeonardoCardoso commented on #84
Duplicate #83

[2018-05-26 21:43] #84 closed

[2018-06-05 18:02] boywithaxe opened #85 "Cannot invoke initializer for type 'Range<_>' with an argument list of type '(Range<String.Index>)' in func substring(start:end:)"
[code]
the above function contains a method resulting in the following error:

Cannot invoke initializer for type 'Range<_>' with an argument list of type '(Range<String.Index>)' in Xcode 10 beta 1.

I appreciate this is a very early report, but does seem to be a swift version issue.

[2018-06-05 22:22] halinebr opened #86 "Not able to use SwiftLinkPreview on Wix hosted sites"
Whenever I attempt to run SwiftLinkPreview on a website that is hosted by Wix.com I receive `Could not signal service com.apple.WebKit.Networking: 113: Could not find specified service` in the console, the callback on the preview function never returns, and the CPU usage drives up like crazy.

Is there a way to add/change request headers for the request?

Some examples for you guys to try:
https:/

[2018-06-06 22:38] LeonardoCardoso commented on #85
Most probably it is. I'll have a look ASAP.

[2018-06-06 22:39] LeonardoCardoso commented on #86
I'll have a look ASAP.

[2018-06-07 11:45] #80 closed

[2018-06-07 11:46] LeonardoCardoso commented on #70
Related to #86

[2018-06-07 12:11] LeonardoCardoso commented on #85
Changes in `master`.

[2018-06-07 12:12] LeonardoCardoso commented on #65
Closed due lack of response.

[2018-06-07 12:12] #65 closed

[2018-06-07 12:37] LeonardoCardoso commented on #70
I don't see any errors performing it here.

<img width="1474" alt="screen shot 2018-06-07 at 14 36 05" src="https://user-images.githubusercontent.com/1775157/41099896-29219b1a-6a60-11e8-8638-b8d5d7c77d5a.png">

The only problem I'm having is that the pictures are unauthorized outside their website.

<img width="1267" alt="screen shot 2018-06-07 at 14 35 37" src="https://user-images.githubuserconte

[2018-06-07 13:44] #83 closed

[2018-06-07 13:44] LeonardoCardoso commented on #83
New method added. Check it out on `master` (Soon in a new release).

<img width="1639" alt="screen shot 2018-06-07 at 15 41 47" src="https://user-images.githubusercontent.com/1775157/41103391-506c61d8-6a69-11e8-8a7d-733c4a0be057.png">

[2018-06-07 13:53] #70 closed

[2018-06-07 13:59] onurgenes commented on #83
Will check it out soon.

[2018-06-07 14:27] LeonardoCardoso commented on #86
Hi, The content of Wix pages is loaded by several `iframes` and they are loaded after the page is loaded. So it gets very hard to extract info.

<img width="939" alt="screen shot 2018-06-07 at 15 51 36" src="https://user-images.githubusercontent.com/1775157/41104230-2f134e82-6a6b-11e8-94fd-0054c84d892e.png">

I managed to extract information. It is limited information.

<img width="1315" alt="scre

[2018-06-07 14:44] #86 closed

[2018-06-07 15:12] halinebr commented on #86
Thanks!

[2018-06-07 15:22] LeonardoCardoso commented on #86
@halinebr I've just pushed a new version with the ability to get limited information from Wix websites. Version `2.3.0`.

[2018-07-03 06:34] MichaelLuoSyd commented on #85
Hi, may I know how to solve this issue please? I am having the same problem. Thanks

[2018-07-03 12:11] SurenderBDAppManiac opened #87 "link-preview response is different in iOS & Android"
hello,
I am using swiftLinkPreview githup in my iOS app, actually issue is i'm share LinkedIn user profile into my app and extract this url with swiftLinkPreView Framework and i'm getting response different from android phone.... can u explain me what is issue related to linkedin profile extract i am getting this:
Title - linkedIn Login & SignUp
desc -
imageUrl - nil
but i'm logged in with LinkedI

[2018-07-04 10:03] LeonardoCardoso commented on #85
@MichaelLuoSyd Changes are in `master`!

[2018-07-04 10:07] LeonardoCardoso commented on #87
My lib does not watch sessions. And to see a LinkedIn profile, you must be logged. That's why.
And are you talking about my other repository [https://github.com/LeonardoCardoso/Android-Link-Preview](https://github.com/LeonardoCardoso/Android-Link-Preview)? I haven't touched that code in ages. I have no plans to either.

[2018-07-10 17:36] #87 closed

[2018-08-20 07:01] iceboxi opened #88 "Preview callback slow than before"
I compare version 2.3.0 with version 2.2.0
Most URL work fine, but like "tw.yahoo.com",
version 2.3.0 callback about 7 sec.
version 2.2.0 callback about 4 sec.

[2018-09-13 22:36] jpmhglance commented on #85
Was this it?

[code]

I fixed a similar error in my code this way instead:

[code]

[2018-09-14 11:06] manishbd opened #89 "Image preview got nil in ios"
IN swift ,  using  this url  :::( https://om07.wooplr.com/collection/6635411268042752/redwolf-game-of-thrones-tees-for-men?utm_source=undefined&utm_medium=collection&utm_medium=collection&utm_campaign=influencer&utm_campaign=influencer&utm_content=plp&utm_content=plp&utm_term=android%3Futm_source%3Dundefined&utm_term=android&ljs=en )
**but image preview got nil**  but **working in android**

when

[2018-09-23 14:54] mariedm opened #91 "Is SwiftLinkPreview compatible with Xcode 10?"
I updated to Xcode 10 but my project won't compile. SwiftPreviewLink seems to be a problem, I have this issue:
[code]
I have searched but didn't find any solution yet.

[2018-09-23 15:41] LeonardoCardoso commented on #91
I will update it ASAP. Thanks @mariedm.

[2018-09-23 16:27] mariedm commented on #91
I already tried that and it didn't work for me. I'm removing the pod for now and installing manually. Then I will migrate to Swift 4.2 then see how it goes. Will keep you updated.

[2018-09-23 16:46] LeonardoCardoso commented on #88
Nothing was touched in the code to reduce the performance. Can you tell me how you did your test? Same network? Same time with both versions running?

I've noticed that with GDPR, they have added new redirections to get to the final result.

[code]

[2018-09-23 16:47] LeonardoCardoso commented on #91
Ok, thanks.

[2018-09-23 17:51] LeonardoCardoso commented on #91
Hi, you might want to get the new version, I have added some improvements.

[2018-09-23 17:56] mariedm commented on #91
That was quick!
I updated with cocoapod and now I have the same issue I have with other libraries on Xcode 10:
`Module compiled with Swift 4.1.2 cannot be imported by the Swift 4.2 compiler`

[2018-10-04 06:05] manishbd commented on #89
i have done with temporary solution for my code . and solved my problem.
i changed in library file **sources/SwiftLinkPreview.swift**
i am adding changed function below .. for help
/////////////---------function start

    internal func crawlMetaTags(_ htmlCode: String, result: Response) -> Response {

        var result = result

        let possibleTags: [String] = [
            SwiftLinkRespons

[2018-10-04 21:36] LeonardoCardoso commented on #89
Thanks, @manishbd! I will have a look ASAP.

[2018-10-26 15:38] boywithaxe commented on #85
That's the line that fixes it. the issue recurred in the latest version, but making the following change fixes it in Swift 4 and up

`-         return String(self[Range(self.index(self.startIndex, offsetBy: start) ..< self.index(self.startIndex, offsetBy: end))])
+         return self.substring(NSRange(location: start, length: end - start))`

[2018-11-23 11:06] shaharukhs opened #94 "Get Cache Response not working"
Hi,

I am using `XCode 10.1`, `iOS 12.1` and `pod 'SwiftLinkPreview', '~> 2.3.1'`

When I try to fetch cache response it does not return anything.

I am attaching my demo sample please check.
[SwiftLinkPreviewDemo.zip](https://github.com/LeonardoCardoso/SwiftLinkPreview/files/2610485/SwiftLinkPreviewDemo.zip)

[2018-11-23 11:40] LeonardoCardoso commented on #94
Hey @shaharukhs, I will have a look at it ASAP.

[2018-11-24 10:37] moh1122 opened #95 "run it on apple watch"
Hello
Can you please show me how to integrate the project on watchos ?

[2018-11-26 12:12] LeonardoCardoso commented on #95
Just follow the example.

[2018-11-26 12:12] #95 closed

[2018-11-29 09:05] UtkuDalmaz opened #96 "Cannot assign to immutable expression of type 'URLSession.Type'"
<img width="860" alt="screen shot 2018-11-29 at 12 04 59" src="https://user-images.githubusercontent.com/2130592/49210795-102d8a80-f3cf-11e8-9ed8-d64489204afa.png">

[2018-11-29 09:31] #96 closed

[2018-12-06 07:08] iceboxi opened #97 "Wrong Description"
I try this url (https://www.bnext.com.tw/article/51537/gamania-teamup)
And I get description with javascript code

![img_3875240738c4-1](https://user-images.githubusercontent.com/1142675/49567392-851d3900-f968-11e8-9fdd-bd24a56c0811.jpeg)

SwiftLinkPreview: 2.3.1
xCode 10.1 with last swift version

[2018-12-06 11:54] LeonardoCardoso commented on #97
What do you consider the right description? Maybe you should think twice before writing an issue title.

[2018-12-18 17:46] #97 closed

[2019-01-02 12:12] LeonardoCardoso commented on #94
It's working in my repo's demo. Can you try it again using the most recent code?

[2019-01-02 12:12] #94 closed

[2019-01-04 10:02] udaypratapsingh opened #98 "Preview image different from android in ios"

[2019-01-04 10:54] #98 closed

[2019-01-04 10:54] #89 closed

[2019-01-28 09:53] vandzi opened #100 "Doesn't resolve image url"
Hi, library will not recognize this link to image as image https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCOTfliprVwAs_8dyUmDYUOiUtq9Rq_285lFvvXHYQTeJ5Bb6Z3Q

It returns  Response(url: Optional(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCOTfliprVwAs_8dyUmDYUOiUtq9Rq_285lFvvXHYQTeJ5Bb6Z3Q), finalUrl: Optional(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCOTfliprVwAs_8d

[2019-01-31 13:14] sagarthummar11 opened #101 "Link preview is not working for google photos shared album's URL"
I am try to preview google photo album's shared url using SwiftLinkPreview. But in the result, I am not getting expected results whereas if I shared same URL to WhatsApp or Skype, I can show link preview for same URL.

Request URL: https://photos.app.goo.gl/D2pM5KCoFEhStCYu9

Thanks

[2019-03-21 03:38] ttmdung203 commented on #101
I have the same issue.

[2019-04-07 14:02] #46 closed

[2019-04-07 14:02] #54 closed

[2019-05-27 13:30] AlaeddineOuerteni opened #104 "Is Swift 5.0 support planned ?"

[2019-07-13 01:28] haansplosion opened #106 "Images not returned for Spotify links"
Hi there, for Spotify links (that previously worked with last version of SWP), we now get only one image returned, blank: `https://pixel.spotify.com/v1/sync `

[2019-07-30 09:35] Faari7 commented on #96
hi, i need to know how did you resolve this issue?

[2019-09-12 06:03] apro23 commented on #45
Up

[2020-01-07 10:41] nikitagudkovs commented on #96
I am facing the same issue.

[2020-01-26 01:48] HackShitUp opened #108 "How to Cancel?"
Not an issue, but I'm trying to figure out how to cancel requests (used when loading data in cells and canceling them in the cell's life cycle).

[2020-02-02 05:28] haansplosion opened #109 "Preview does not return og:image tag as image"
Parsing any Spotify link: https://open.spotify.com/artist/2G7QgTep5IsJHGHm1hXygD

returns: `<img id="cidmgmt" src="https://pixel.spotify.com/v1/sync?nojs=1" style="display: none;" width="0" height="0" />` for both main image and images array,

instead of `<meta property="og:image" content="https://i.scdn.co/image/bad14a473f23b9ef78448336e6f1199e1de25e99">`

[2020-02-02 05:29] #106 closed

[2020-02-02 05:29] haansplosion commented on #106
Have opened another issue with more information as I havent heard back

[2020-02-26 00:40] cmcgheit opened #110 "Can't add with SPM"
I'm having an issue trying to add via swift package manager:

<img width="603" alt="Screen Shot 2020-02-25 at 11 04 51 AM" src="https://user-images.githubusercontent.com/24944725/75279383-204e3880-57d1-11ea-8b70-9dbb06d1523d.png">

I've tried adding the exact 3.1.0 version and up to the next major version via xcode and both are not working and give this error. I'm using xcode 11.3.

[2020-03-09 15:27] moosabaloch opened #111 "Trying to use my own Cache for links"
The `Response` struct variables are not accessible, How do I set value for the response?
Because I need to return it to the protocol function
`func slp_getCachedResponse(url: String) -> Response?`
but unfortunately, due to the `internal(set)` on all the fields, I couldn't use the Cache protocol.
Is there any other workaround to implement the Cache?

[2020-03-10 07:45] moosabaloch opened #112 "Compiler Warning: ⚠️ Regex.swift L#45"
![image](https://user-images.githubusercontent.com/12875728/76290343-e438ce80-62cc-11ea-8378-ea5c5068659a.png)
Variable 'result' was never mutated; consider changing to 'let' constant

[2020-03-17 05:19] pocketlim opened #113 "Attempting to preview certain links will leave the previewer Regex running and unable to cancel"
Hey Leonardo Cardoso! Just wanted to say big thank you to a cool little kit of code making it really easy to get a preview of a URL! ❤️

Certain links, however, will cause the previewer to get down to the Regex.pregMatchAll() method and there it will churn pretty much indefinitely, tasking one of the cores to maximum. Because it's already beyond the request part, it's unable to be cancelled at tha

[2020-03-30 21:19] n1k3c opened #114 "Bad URL timestamp (images)"
I have problems with parsing instagram/facebook images.

Example url: [Instagram example](https://www.instagram.com/p/B-XzQGNAC3t/?igshid=vmz2wv97nteu)
Parsed image source with timestamp error: [Instagram Bad URL timestamp](https://instagram.fzag4-1.fna.fbcdn.net/v/t51.2885-15/e)

Should be something like this: [Expected result](https://instagram.fzag4-1.fna.fbcdn.net/v/t51.2885-15/e15/s640x640/91

[2020-04-08 14:34] gopalanrc opened #115 "403 Forbidden"
I'm using Android variant of the library. Following link doesn't work
https://www.masterclass.com

I tried setting up the user agent by System.getProperty("http.agent"). But, no luck.

Any help is appreciated.

[2020-04-24 10:25] Razanajam opened #116 "SwiftlinkPreview generating old preview"
Hi, it's a great library, but its returning old images, you can test the facebook, whatsapp and other apps, they generate different meta.

can you please let me know, how we can generate the latest one.

[2020-04-26 09:17] boywithaxe opened #117 "Error while adding via SPM"
Tried adding SLP to a new project and I am getting an error about incompatible tools version.

Are you planning an update? or is there a way to resolve this myself?

<img width="736" alt="image" src="https://user-images.githubusercontent.com/19761391/80303205-a45b7700-87a6-11ea-87a1-07f506887c1f.png">

[2020-05-11 20:23] ospfranco opened #118 "return Content-Type"
When navigating the web, some resources might have different types, and can be represented differently (a video, an image, a pdf, etc), therefore it is also necessary to return the content-type of the provided url.

I will try to create a PR containing this change

[2020-06-24 03:53] inPhilly commented on #113
@pocketlim is this still an issue or have you found a way to fix it?

[2020-06-24 03:59] inPhilly commented on #116
@Razanajam do you have any example links to demonstrate this?

[2020-06-24 20:41] pocketlim commented on #113
Unfortunately, no, it is still happening as far as I know. I am blacklisting the URLs that I found that aren't working or that cause issues so far.

[2020-07-06 11:32] rahulvyas opened #119 "simple url doesn't gives image"
I've tried youtube.com and I got only icon no image was returned in response.

[code]

[2020-07-06 12:12] #119 closed

[2020-07-16 07:37] muzamil999 opened #120 "Facebook post images are always invalid"
I am trying to create a preview from a Facebook post

https://www.facebook.com/AmmaraKhanOfficial/photos/a.748587865188148/3176470215733222/?type=3&theater&_rdc=1&_rdr

It is a public post. But the data returned from slprequest is as follows

Optional(https://www.facebook.com/AmmaraKhanOfficial/photos/a.748587865188148/3176470215733222/?type=3&theater&_rdc=1&_rdr),

 finalUrl: Optional(https://www

[2020-07-27 08:45] wolfej94 commented on #108
@HackShitUp did you get anywhere with this?

[2020-08-27 09:49] deepam1212 commented on #120
any luck on this?

[2020-09-04 18:55] Cmdrobot opened #123 "SwiftLinkPreview freeze when using in UITableViewCell, how to solve this problem?"

[2020-10-20 15:05] LeonardoCardoso commented on #117
New version with the fix coming right up.

[2020-10-20 15:05] #117 closed

[2020-10-20 15:06] LeonardoCardoso commented on #110
New version with the fix coming right up.

[2020-10-20 15:06] #110 closed

[2020-10-20 15:06] LeonardoCardoso commented on #104
New version with the fix coming right up.

[2020-10-20 15:06] #104 closed

[2020-11-09 10:15] midhunnarayan22 opened #126 "for youtube share url not getting details like title, image etc"
While sharing youtube URL from the app it is not getting a proper response
https://youtu.be/MZWina8plDk

[2020-12-13 10:18] MuhtasimTanmoy commented on #126
Also facing the same problem. Any solution?

[2020-12-14 09:45] dhanrajdc7 opened #128 "For YouTube Links, it is not fetching Video Thumbnail"
Video Thumbnails is not being fetched.......

[2020-12-14 09:52] dhanrajdc7 opened #129 "How to track progress of Fetching in percentage?"
I want to see the percentage showing how much process is completed?

Do you know Any block of code to achieve it?

[2020-12-17 12:09] VadimIdeasoft commented on #128
Experiencing with behavior for a +- week now as well.

[2020-12-17 12:14] LeonardoCardoso commented on #128
I will have a look at it when I have time. The code is there, so feel free to explore it, find the issue and open a PR. Contribution is always welcome.

[2020-12-27 17:56] dhanrajdc7 commented on #128
I have done some debugging with SwiftLinkPreview & YouTube videos.

**In RESPONSE, there are no images URL fetched in .image and .images.**

[2020-12-27 18:16] LeonardoCardoso commented on #128
@dhanrajdc7 I might have a clue how to solve this.

Maybe YouTube has changed the metatag on their website or changed how they label images. You could try fixing it by identifying the change in the html source code of a video page.

_I am currently on vacations and have no computer around._

[2020-12-27 20:50] dhanrajdc7 commented on #128
Ok, I will give it a try

[2021-01-04 22:45] jscalo commented on #126
I'm trying to diagnose but if you look at the `htmlCode` sent to `performPageCrawling()`, the title is:

[code]

So now all titles show up as "YouTube" instead of the original. I think it might have something to do with following the redirects.

[2021-01-06 23:44] chrysb opened #130 "Does not follow redirects on Apple News links"
Thanks for making this. Certainly saved me a lot of time!

Unfortunately, it doesn't seem to follow redirects.

Example: https://apple.news/Ak2IoOEp8Qdi6JVs8p-Jj_A

The impact is that it does not return the image from the news article, but rather a big Apple News logo.

[2021-01-11 22:05] daveymcgav commented on #126
Yup, seeing this also!

[2021-02-01 11:09] LeonardoCardoso commented on #108
A preview is cancellable, like the example below:

[code]

[2021-02-01 11:09] #108 closed

[2021-02-01 11:10] #111 closed

[2021-02-01 11:13] #85 closed

[2021-02-01 11:19] LeonardoCardoso commented on #109
Fixed with the next version.

[2021-02-01 11:19] #109 closed

[2021-02-01 11:19] #112 closed

[2021-02-01 11:21] LeonardoCardoso commented on #113
Thanks for the detailed report. I will add it to investigation needed.

[2021-02-01 11:23] LeonardoCardoso commented on #114
Fixed with the new version
![Simulator Screen Shot - iPhone 11 Pro - 2021-02-01 at 12 22 27](https://user-images.githubusercontent.com/1775157/106452473-3ad06d80-6488-11eb-873d-4b0af7f113fb.png)

[2021-02-01 11:23] #114 closed

[2021-02-01 11:24] LeonardoCardoso commented on #115
Fixed with the new version.
![Simulator Screen Shot - iPhone 11 Pro - 2021-02-01 at 12 23 55](https://user-images.githubusercontent.com/1775157/106452574-62bfd100-6488-11eb-894f-94dd2bc7abbc.png)

[2021-02-01 11:26] LeonardoCardoso commented on #116
Hi, the SLP shows what it gets. The implementation is different from those apps afore mentioned by you, so there's no way for me to know how they do that.

[2021-02-01 11:26] #116 closed

[2021-02-01 11:26] #115 closed

[2021-02-01 11:29] LeonardoCardoso commented on #123
Can you elaborate more on it?

[2021-02-01 11:31] LeonardoCardoso commented on #129
Probably analyzing the data task percentage. I will add it to enhancements.

[2021-02-01 11:33] LeonardoCardoso commented on #126
Seems to be fixed with the new version.

![Simulator Screen Shot - iPhone 11 Pro - 2021-02-01 at 12 29 57](https://user-images.githubusercontent.com/1775157/106453196-38bade80-6489-11eb-9538-5879528e1926.png)

[2021-02-01 11:33] #126 closed

[2021-02-01 11:35] LeonardoCardoso commented on #128
Seems to be fixed with the new version.
![Simulator Screen Shot - iPhone 11 Pro - 2021-02-01 at 12 29 57](https://user-images.githubusercontent.com/1775157/106453580-d1515e80-6489-11eb-85c9-777a6410fb93.png)

[2021-02-01 11:35] #128 closed

[2021-02-01 11:36] LeonardoCardoso commented on #130
Thanks for the report. I will add it to investigation needed.

[2021-02-02 07:52] HackShitUp commented on #108
I've moved on to using LPLinkPreview. Significantly better.

[2021-02-02 07:52] HackShitUp commented on #108
@wolfej94 I've moved on to using LPLinkPreview. Significantly better.

[2021-02-02 08:19] dhanrajdc7 commented on #108
@HackShitUp Can you please share the code about LPLinkPreview to compare?

[2021-02-10 07:28] smaljaar opened #134 "No preview is loaded for a link to a tweet on Twitter"
Using:
SwiftLinkPreview 3.3.0
Xcode 12.4

Example:
If you provide `https://twitter.com/joshdholtz/status/1359219485543182337?s=20` as text to SwiftLinkPreview's `preview(text:onSuccess:onFailure)` method it responds in the success block with

`Response(url: Optional(https://twitter.com/joshdholtz/status/1359219485543182337?s=20), finalUrl: Optional(https://twitter.com/joshdholtz/status/13592194855

[2021-02-10 10:48] abdulKarim002 commented on #134
Tested with some random Twitter link, the same error message of javascript is coming

[2021-02-10 20:07] filiroman opened #135 "Cancellable "cancel()" method is not available in Objective-C"
Hello there! It looks like it's not marked with @objc, so it's not possible to cancel operation from Objective-C code.

[2021-02-23 03:11] chrysb commented on #130
Just tried the library again and found it also doesn't work for Spotify urls:

Example: https://open.spotify.com/artist/39ywlwtGw8RTGobakgb11L?si=As8Ynf-RS12yFu8jckzhYQ

[2021-02-23 03:13] chrysb commented on #130
I spoke too soon. I updated to `3.3.0` and that Spotify URL worked. Hurrah!

[2021-03-01 21:51] isharing0726 commented on #130
The reason is that Apple news' OG:image doesn't have a file extension.

`
<meta property="og:image" content="https://c.apple.news/AgEXQWsySW9PRXA4UWRpNkpWczhwLUpqX0EAMA" /><meta name="twitter:card" content="summary_large_image" />
`

The supported imagePattern is

`
    static let imagePattern = "(.+?)\\.(gif|jpg|jpeg|png|bmp)$"
`

[2021-03-02 17:50] chrysb commented on #130
Would it make sense to pass along the image URL regardless of extension? That would allow clients to try to parse the image and we can rely on iOS to examine the content headers and try to create UIImages from the URLs.

[2021-03-17 10:34] dastan1302 opened #137 "Could not find module 'SwiftLinkPreview' for target 'x86_64-apple-ios-simulator'; found: arm64, arm64-apple-ios-simulator`"
Getting this error when running on Intel and M1 both macs with xcode 12.4, on latest OS BigSur

[2021-04-21 05:44] hareshlive opened #139 "some of url not working properly"
www.cnn.com

https://www.cnn.com/2021/04/20/politics/maxine-waters-nancy-pelosi/index.html

this url no work

please help me about this issue

[2021-05-16 01:40] haansplosion commented on #109
Hi there, tested with latest version and this still doesn't return go:image on Spotify links?

[2021-05-26 02:14] JD10NN3 commented on #130
Any news on this one? Any way to ignore the imagePattern ?

[2021-06-22 10:24] haansplosion opened #141 "Could you add a custom search tag?"
Similar to how [Weblinkpreview](https://github.com/philip-bui/web-link-preview) allows you to search for any OG tag.

` webLinkMetadata["image"] // String for <meta property="og:image" ...> `

The above method allows for searching for any tag, which would be useful to search for things that we need.

[2021-06-22 10:26] haansplosion opened #142 "Image tag not shown for Disney Plus links"
https://www.disneyplus.com/en-gb/series/the-bad-batch/4gMliqFxxqXC returns an SVG link, not correctly the og:image tag

[2021-06-22 10:27] haansplosion opened #143 "Image array is recursive, repeats first and second image"
Example: https://www.jbhifi.com.au/products/playstation-4-biomutant

Repeats the first and second image rather than showing all 4.

[2021-06-22 15:17] LeonardoCardoso commented on #143
Thanks for spotting this. I don't have the capacity to work on this right now. Feel free to contribute and open a PR.

[2021-06-22 15:17] LeonardoCardoso commented on #142
Thanks for spotting this. I don't have the capacity to work on this right now. Feel free to contribute and open a PR.

[2021-06-22 15:18] LeonardoCardoso commented on #141
Thanks for spotting this. I don't have the capacity to work on this right now. Feel free to contribute and open a PR.

[2021-06-23 12:20] MuhtasimTanmoy opened #144 "Github Repository Image not parsed properly"
**Using:**
[code]

**Issue:**
[code]

**Reproduce By:**
[code]

**Reason:**

	Failing to parse the content of this tag <meta property="og:image" content=""> for opengraph image.

[2021-06-23 12:52] LeonardoCardoso commented on #144
Thanks for spotting this. I don't have the capacity to work on this right now. Feel free to contribute and open a PR.

[2021-06-24 06:07] MuhtasimTanmoy commented on #144
Kindly check the pull request. Working for all Github links, and previously tested links.

[2021-06-24 07:55] nikeshakya commented on #139
@hareshlive @LeonardoCardoso any update on this ? I am having similar issue with cnn links...Infinite waiting

[2021-06-24 08:13] LeonardoCardoso commented on #139
@nikeshakya Hello! No updates. I haven’t had the time. Feel free to fork and investigate in the meantime.

[2021-06-24 08:14] LeonardoCardoso commented on #144
@MuhtasimTanmoy thanks! I will check ASAP.

[2021-06-24 09:06] nikeshakya commented on #139
Hi @LeonardoCardoso,
because of following meta
" http-equiv=\"refresh\" content=\"1;url=/2.265.2/static/unsupp.html\" /"
it was running in infinite recursive function call
let me know if it helps in your debugging

[2021-07-18 06:49] ShailendraKushwaha opened #146 "SwiftLinkPreview Never loads response from cache, am i doing it wrong?"
[code]
it always have to fetch response from online.

[2021-07-19 22:24] chrysb commented on #134
Anyone have a workaround for this? Would love to be able to embed tweets

[2021-07-19 22:31] chrysb commented on #134
I actually figured a workaround using nitter.net (this site mirrors twitter.com and is non-javascript friendly). If I detect twitter.com, I swap out the domain to nitter.com for the unfurling, and then I switch it back before sending the data along:

[code]

[2021-07-20 06:16] MuhtasimTanmoy commented on #144
Hi, just following up regarding this issue.

[2021-07-27 15:21] LeonardoCardoso commented on #144
Fixed in version 3.4.0

[2021-07-27 15:21] #144 closed

[2021-08-03 07:47] DarrelAeturnum opened #149 "Android Link Preview"
Can we use the archived Android library for android devices or Is there any other alternatives since https://github.com/LeonardoCardoso/Android-Link-Preview is archived

[2021-09-23 16:31] #149 closed

[2021-09-23 16:38] LeonardoCardoso commented on #137
I'm closing this issue because I couldn't reproduce. Are you still having this problem?

[2021-09-23 16:38] #137 closed

[2021-09-23 17:03] LeonardoCardoso commented on #146
You should use url as a key.

[code]

[2021-09-23 17:03] #146 closed

[2021-09-23 17:05] LeonardoCardoso commented on #142
Have you tested with the latest version? It seems to work for me.
![Simulator Screen Shot - iPhone 13 Pro - 2021-09-23 at 19 05 15](https://user-images.githubusercontent.com/1775157/134552186-656caad2-ed76-42e5-bf6a-c93e6d10cf94.png)

[2021-09-23 17:05] #142 closed

[2021-09-23 17:20] #123 closed

[2021-09-23 17:21] #88 closed

[2021-09-23 17:23] #2 closed

[2021-09-23 17:25] #64 closed

[2021-09-23 17:28] #118 closed

[2021-09-23 18:35] LeonardoCardoso commented on #45
It will be included in the next release.

[2021-10-07 12:42] eliburke commented on #137
I got this error too, with XCode 13.
Runs on a device but I can't run an x86_64 simulator build (and I don't have an M1 Mac handy)

I've cleaned out my DerivedData and artifacts, and built using Carthage:
`carthage update --platform iOS --no-use-binaries --cache-builds --use-xcframeworks`

Problem occurs when I run:
Could not find module 'SwiftLinkPreview' for target 'x86_64-apple-ios-simulator';

[2021-11-13 17:20] chadpav commented on #134
Just tested the twitter link using the patch I submitted in https://github.com/LeonardoCardoso/SwiftLinkPreview/pull/155 and it works.

Looks like the user agent might be the root issue of multiple issues.

[2021-12-17 12:47] VickyiOSDeveloper opened #156 "Doesn't work for my URL"
It works for some urls but it's failing to provide image url (sadhguru's photo) for below link. It randomly works sometimes.

https://m.economictimes.com/news/politics-and-nation/its-about-going-global-not-just-about-counting-money-sadhguru/articleshow/71322013.cms

[2021-12-24 05:08] huanghui1998hhh commented on #113
I'm facing this, it's still an issue.

[2022-03-26 22:00] Razanajam commented on #134
@LeonardoCardoso Can you please check this issue, I believe you have done an amazing job on this module. Can you pleae fix some of the issues.

[2022-03-26 22:21] Razanajam opened #158 "Twitter links not working."
Please check twitter links preview not working.

[2022-03-28 18:34] Samigos commented on #137
I just got my first M1 mac and I get the exact same error! What is the fix here?

[2022-03-28 20:55] eliburke commented on #137
It's right there in my [comment](https://github.com/LeonardoCardoso/SwiftLinkPreview/issues/137#issuecomment-937754535) along with a merge request. You can pin to my branch or fork and fix it for yourself.

[2022-03-28 21:40] Samigos commented on #137
I tried pinning the pod to your branch (valid_archs), but cocoapods failed to find it! Indeed, there’s no branch with that name!

[2022-03-28 21:43] eliburke commented on #137
Ah sorry... I'm used to Carthage which lets you easily point to different repos. I can't help you any further than google but maybe check out "cocoapods private repo"

https://guides.cocoapods.org/making/private-cocoapods.html

[2022-05-11 10:42] kishanbh commented on #158
@LeonardoCardoso thanks for the wonderful library. Does twitter link preview working or not?

[2022-10-12 08:52] MatellioDharmesh opened #161 "Branch IO link is not working for URL Preview"